.main {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.header h1 span {
  color: rgb(104, 244, 158);
  font-weight: 500;
}

.header h2 {
  font-weight: 300;
  text-align: center;
  color: #9a9ea0;
  font-size: 1rem;
}

.demo-section {
  margin-top: 4rem;
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.search-container form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icon {
  position: absolute;
  left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
}

.search-container form input {
  display: block;
  color: whitesmoke;
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  background-color: black;
  margin: 0 2rem;
  border: solid 1px whitesmoke;
  outline: none;
  box-shadow: ;
}

.search-container form input:focus {
  border: solid 1px #68f49e;
}

.search-container form button {
  position: absolute;
  right: 0;
  margin-right: 2.5rem;
  border-radius: 5px;
  color: whitesmoke;
  background-color: black;
  font-size: 1rem;
}

.loading-image {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.loading-image img {
  height: 50px;
}

.history-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 5px 10px black;
  border-radius: 20px;
  padding: 1rem;
  margin: 0.5rem 2rem;
}

.link-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #272932;
  border-radius: 20px;
  padding: 0 0.5rem;
}

.link-card p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 10px #272932;
  padding: 0.5rem;
}

.check {
  color: #68f49e;
}

.delete-icon:hover {
  color: red;
}

.summary-container {
  background-color: #444756;
  box-shadow: 0 5px 10px black;
  border-radius: 20px;
  padding: 1rem;
  margin: 0.5rem 2rem;
  overflow: hidden;
}
