@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap");

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #272932;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: #272932;
}

body::-webkit-scrollbar-thumb {
  background: #272932;
  border-radius: 25px;
}
